.footer {
    text-align: center;
  }
  
  .footer h5 {
    color: #ff9800;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  .bar{
    background-color: rgb(50, 121, 82);
  }