<app-navbar></app-navbar>
<div class="dashboard-container row col-12">
  <!-- Bouton de menu pour les écrans md et sm -->
  <button class="menu-toggle-btn d-xl-none " (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>

  <!-- Sidebar -->
  <div class="col-xl-2">
    <div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isCollapsed, 'sidebar-visible': isSidebarVisible }">
      <div class="sidebar-header">
        <h3 *ngIf="!isCollapsed">Tableau de bord</h3>
        <button class="toggle-btn" (click)="toggleSidebar()">
          <i class="bi" [ngClass]="isCollapsed ? 'bi-arrow-right' : 'bi-arrow-left'"></i>
        </button>
      </div>

      <ul class="sidebar-menu">
        <li>
          <a routerLink="/proprietaire/statistiques" routerLinkActive="active">
            <i class="bi bi-graph-up"></i>
            <span *ngIf="!isCollapsed">Statistiques</span>
          </a>
        </li>
        <li>
          <a routerLink="/proprietaire/gestion-annonce" routerLinkActive="active">
            <i class="bi bi-plus-circle"></i>
            <span *ngIf="!isCollapsed">Ajouter Annonce</span>
          </a>
        </li>
        <li *ngIf="isEditMode">
          <a routerLink="/proprietaire/gestion-annonce/{{annonceId}}" routerLinkActive="active">
            <i class="bi bi-pencil"></i>
            <span *ngIf="!isCollapsed">Modifier Annonce</span>
          </a>
        </li>
        <li>
          <a routerLink="/proprietaire/annonces" routerLinkActive="active">
            <i class="bi bi-house-door"></i>
            <span *ngIf="!isCollapsed">Mes annonces</span>
          </a>
        </li>
        <li>
          <a routerLink="/proprietaire/reservations" routerLinkActive="active">
            <i class="bi bi-calendar-check"></i>
            <span *ngIf="!isCollapsed">Réservations</span>
          </a>
        </li>
        <li>
          <a routerLink="/proprietaire/abonnement" routerLinkActive="active">
            <i class="bi bi-credit-card"></i>
            <span *ngIf="!isCollapsed">Gérer l'abonnement</span>
          </a>
        </li>
        <li>
          <a routerLink="/proprietaire/message" routerLinkActive="active">
            <i class="bi bi-envelope"></i>
            <span *ngIf="!isCollapsed">Messages</span>
          </a>
        </li>
        <li>
          <a routerLink="/proprietaire/profile" routerLinkActive="active">
            <i class="bi bi-person"></i>
            <span *ngIf="!isCollapsed">Profil</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Contenu dynamique -->
  <div class="content col-xl-8" [ngClass]="{ 'content-expanded': isCollapsed }">
    <router-outlet></router-outlet>
  </div>
</div>